PORT=3000
NODE_ENV=development

GEMINI_API_KEY=DONNÉE MANQUANTE
OLLAMA_BASE_URL=http://host.docker.internal:11434

DATABASE_URL=postgresql://postgres:stm_password@localhost:5432/stm_saas
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost:5672

STRIPE_SECRET_KEY=DONNÉE MANQUANTE
JWT_SECRET=super_secret_jwt_key
